.header {
  margin: 116px auto 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0 0 24px 0;
}

.header p {
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  margin: 0;
}

.main {
  max-width: 1080px;
  background-image: url("/public/WorldMap.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 100%;
}

.card-list {
  padding-top: 500px;
  margin: 0 auto 116px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 10;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.card-big {
  max-width: 480px;
  width: 100%;
}

.card-small {
  max-width: 296px;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 20px;
  align-items: center;
}

.card-header h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
}

.card-info {
  margin-bottom: 12px;
  max-width: 256px;
  overflow-wrap: break-word;
}

.card-info__phone {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.card-info__email {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.card-address p {
  font-size: 18px;
  line-height: 24px;
  color: #9E9E9E;
  margin: 0;
}

.card-address {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px){
  .card-list {
    display: flex;
    flex-direction: column;
  }

  .card-list {
    padding-top: 240px;
  }
}

@media screen and (max-width: 1095px){
  .card-small {
    max-width: 480px;
    width: 100%;
  }

  .card-list {
    align-items: center;
    justify-content: center;
  }
}
